.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 310px;
  height: 200px;
}


.button{
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  padding: 6px 12px;
  color: #2d3748; 
  background: transparent;
  border: none;
  transition: color 0.3s ease, transform 0.3s ease;
  border:1px solid #5f6cfc;
  width: 100%;
  border-radius: 15px;
}


.button:hover{
  background: rgba(95, 108, 252, 0.1);
  transform: translateY(-2px);
  box-shadow: 0 2px 16px rgba(95, 108, 252, 0.25);
}


.input{
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid rgba(15, 23, 36, 0.34);
  background: rgba(255,255,255,0.9);
  font-size: 16px;
  color: #0f1720;
  transition: border-color .2s, box-shadow .2s;
  width: 100%;
  box-sizing: border-box;
}



.input::placeholder{
  color: rgba(15,23,36,0.4)
}

.input:hover,.input:focus{
  border: 1px solid rgb(95, 108, 220);
  box-shadow: 0 4px 12px rgba(95,107,220,0.1);
}
.input:focus{
  outline: none;
}

.text{
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #3f4265;
  margin-bottom: 20px;
  text-align: center;
}