.img{
  width: 150px;
}
.title{
  margin: 0;
  text-align: center;
  color: #2d3748;
  font-weight: 600;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  min-width: 310px;
  min-height: 352px;
  padding: 50px 40px;
}

.button{
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.05em;
  padding: 6px 12px;
  color: #2d3748; 
  background: transparent;
  transition: color 0.3s ease, transform 0.3s ease;
  border:1px solid #5f6cfc;
  width: 100%;
  border-radius: 15px;
}


.deleteButton{
  border:none;
  background: #fe4c4c;
  color: white;
}

.cancelButton{
  background: transparent;
  color: #2e3152;
}
.deleteButton:hover{
  background: #d43d3d;
  transform: translateY(-2px);
  box-shadow: 0 2px 16px rgba(254, 40, 40, 0.35);
}

.cancelButton:hover{
  background: rgba(95, 108, 252, 0.1);
  transform: translateY(-2px);
  box-shadow: 0 2px 16px rgba(95, 108, 252, 0.25);
}

@media (max-width: 767px){
  .container{
    padding: 20px;
    width: 300px;
    min-width: 0px;
    box-sizing: border-box;
    height: 380px;
  }
  .title{
    font-size: 24px;
  }
  .br{
    display: none;
  }
}