.button{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
  padding:10px 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
}

.button:hover, .button:focus {
  text-decoration: none !important;
}

.img{display:inline-flex;align-items:center;justify-content:center;width:20px;height:20px}

.text{
  font-weight:600;
  font-size:15px;
  color:inherit;
  text-decoration: none !important;
}

.text:hover, .text:focus {
  text-decoration: none !important;
}