.ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  justify-content: center;
}

.li{
  padding: 12px;
  border: 1px solid;
  border-radius: 6px;

  min-width: 250px;
  list-style: none;
}