.ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px 36px;
  justify-content: left;
  max-width: 978px;
  margin: 0 auto ;
}

.li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 260px;
  max-width: 300px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  gap: 12px;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease-in-out;
}
.li:hover{
  transform: scale(1.03);
    box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.35);
}
.emptyList{
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  margin: 160px 0;

}

@media (max-width: 1023px){
  .ul{
    width: 640px;
  }
}

@media (max-width: 767px){
  .ul{
    width: 300px;
    gap: 10px;
    justify-content: center;
  }
  .li{
    padding: 8px 16px;
    gap: 4px;
  }
}