
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
  margin-top: 100px;
  gap: 28px;
  min-height: 382px;
}

.text{
  font-size: 24px;
  color: rgba(255,255,255,0.8);
}

.img{
  width: 250px;
}
@media (max-width: 767px){
  .container{
    max-width: 300px;
    margin: 70px auto;
  }
.text{
  font-size: 22px;

}
}